# Configuration file

##########################################################################################################
# attributes
#--------------------------------------------------------------------------------------------------------#
# Attributes
##########################################################################################################

attributes {
    # Damage: 4 (2 Hearts). (50 = half, 200 = double)
    I:tier1attackDamage=100

    # Health: 40 (20 Hearts). (50 = half, 200 = double)
    I:tier1maxHealth=100

    # Damage: 6 (3 Hearts). (50 = half, 200 = double)
    I:tier2attackDamage=100

    # Health: 80 (40 Hearts). (50 = half, 200 = double)
    I:tier2maxHealth=100

    # Damage: 8 (4 Hearts). (50 = half, 200 = double)
    I:tier3attackDamage=100

    # Health: 160 (80 Hearts). (50 = half, 200 = double)
    I:tier3maxHealth=100
}


##########################################################################################################
# damage
#--------------------------------------------------------------------------------------------------------#
# Base Damage
##########################################################################################################

damage {
    # Melee attacks deal an additional 2.0 (1 heart) of damage
    B:baseDamage=true

    # Shields Block Piercing Damage
    B:baseDamageArchers=true

    # Archers arrows deal an additional 1 (0.5 heart) of damage
    B:shieldsBlockPiercing=true
}


##########################################################################################################
# debug
#--------------------------------------------------------------------------------------------------------#
# Debug
##########################################################################################################

debug {
    # Disables all non-Gaia mobs from spawning
    B:debugCommands=false

    # Enables developer commands
    B:debugSpawn=false

    # Mobs can drop nuggets/shards from other mods. (Disable if you encounter issues)
    B:oreUnity=false
}


##########################################################################################################
# defense
#--------------------------------------------------------------------------------------------------------#
# Base Damage Cap
##########################################################################################################

defense {
    # Maximum amount of hits required. (0 = disable)
    I:tier1baseDefense=2

    # Maximum amount of hits required. (0 = disable)
    I:tier2baseDefense=4

    # Maximum amount of hits required. (0 = disable)
    I:tier3baseDefense=8
}


##########################################################################################################
# dimensions
#--------------------------------------------------------------------------------------------------------#
# Dimensional Settings
##########################################################################################################

dimensions {
    # Disables Gaia mobs from spawning in the specified dimension ids
    I:dimensionBlacklist <
     >
}


##########################################################################################################
# general
#--------------------------------------------------------------------------------------------------------#
# Spawn Rates
##########################################################################################################

general {
    # Ant Worker
    I:spawnAnt=30

    # Ant Salvager
    I:spawnAntRanger=60

    # Anubis
    I:spawnAnubis=160

    # Arachne
    I:spawnArachne=160

    # Banshee
    I:spawnBanshee=160

    # Baphomet
    I:spawnBaphomet=16

    # Bee
    I:spawnBee=80

    # Bone Knight
    I:spawnBoneKnight=80

    # Cecaelia
    I:spawnCecaelia=160

    # Centaur
    I:spawnCentaur=60

    # Cobble Golem
    I:spawnCobbleGolem=120

    # Cobblestone Golem
    I:spawnCobblestoneGolem=120

    # Creep
    I:spawnCreep=160

    # Cyclops
    I:spawnCyclops=120

    # Deathword
    I:spawnDeathword=80

    # Dhampir
    I:spawnDhampir=160

    # Dryad
    I:spawnDryad=120

    # Dullahan
    I:spawnDullahan=200

    # Dwarf
    I:spawnDwarf=60

    # Ender Dragon Girl
    I:spawnEnderDragonGirl=8

    # Ender Eye
    I:spawnEnderEye=80

    # Flesh Lich
    I:spawnFleshLich=80

    # Gelatinous Slime
    I:spawnGelatinousSlime=160

    # Goblin
    I:spawnGoblin=60

    # Gryphon
    I:spawnGryphon=120

    # Harpy
    I:spawnHarpy=200

    # Hunter
    I:spawnHunter=120

    # Kikimora
    I:spawnKikimora=80

    # Kobold
    I:spawnKobold=120

    # Mandragora
    I:spawnMandragora=120

    # Matango
    I:spawnMatango=120

    # Mermaid
    I:spawnMermaid=80

    # Mimic
    I:spawnMimic=80

    # Minotaur
    I:spawnMinotaur=80

    # Minotaurus
    I:spawnMinotaurus=160

    # Mummy
    I:spawnMummy=200

    # Naga
    I:spawnNaga=60

    # Nine Tails
    I:spawnNineTails=80

    # Oni
    I:spawnOni=160

    # Orc
    I:spawnOrc=60

    # Satyress
    I:spawnSatyress=60

    # Selkie
    I:spawnSelkie=120

    # Shaman
    I:spawnShaman=120

    # Sharko
    I:spawnSharko=80

    # Siren
    I:spawnSiren=120

    # Sludge Girl
    I:spawnSludgeGirl=200

    # Sphinx
    I:spawnSphinx=80

    # Spriggan
    I:spawnSpriggan=80

    # Succubus
    I:spawnSuccubus=32

    # Toad
    I:spawnToad=160

    # Valkyrie
    I:spawnValkyrie=80

    # Vampire
    I:spawnVampire=80

    # Werecat
    I:spawnWerecat=160

    # Witch
    I:spawnWitch=120

    # Wither Cow
    I:spawnWitherCow=16

    # Yeti
    I:spawnYeti=160

    # Yuki-Onna
    I:spawnYukiOnna=120
}


options {
    # Gaia mobs can now drop Copper and Silver Nuggets
    B:additionalOre=false

    # Enable Gaia mobs to spawn
    B:enableSpawn=true

    # All mobs are now hostile
    B:passiveHostileAllMobs=false

    # Hostile day mobs will no longer attack players on sight
    B:passiveHostileMobs=false

    # Archers will strafe and avoid attacks (like Skeletons)
    B:strafingArchers=true
}


##########################################################################################################
# spawn
#--------------------------------------------------------------------------------------------------------#
# Spawn Options
##########################################################################################################

spawn {
    # Additional Blocks Gaia flower can spawn on
    S:additionalFlowerSpawnBlocks <
        minecraft:sandstone
     >

    # Additional Blocks Gaia mobs can spawn on
    S:additionalSpawnBlocks <
        minecraft:sandstone
        minecraft:netherrack
        biomesoplenty:dried_sand
        biomesoplenty:grass:4
        biomesoplenty:grass:3
        minecraft:stone:5
        biomesoplenty:grass:2
        minecraft:end_stone
        minecraft:stone:3
        biomesoplenty:dirt:2
        biomesoplenty:dirt:0
        minecraft:gravel
        minecraft:sand:0
        minecraft:grass
        minecraft:stone:0
        minecraft:stone:1
        biomesoplenty:dirt:10
     >

    # Mobs only spawn after a certain amount of days have passed
    B:spawnDaysPassed=false

    # Amount of days required to have passed before they can start spawning
    I:spawnDaysSet=3

    # Level 3 mobs do not spawn naturally but instead spawn from specific mobs.
    B:spawnLevel3=true

    # Chance that Level 3 mobs spawn from specific mobs. ((1/value)*100)
    I:spawnLevel3Chance=20

    # Level 3 mobs only spawn when it is raining/snowing.
    B:spawnLevel3Rain=false
}


